
{%- if context %}
  {% set banner__text = context.banner__text %}
  {% set banner__tou_href = context.banner__tou_href %}
  {% set banner__privacy_href = context.banner__privacy_href %}
{%- endif -%}

<!-- dismissible banner -->
<div class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--notice"
data-vf-js-banner
data-vf-js-banner-state="dismissible"
data-vf-js-banner-button-text="{{banner__text}}"
data-vf-js-banner-cookie-name="{{data-service-id}}"
data-vf-js-banner-cookie-version="{{data-protection-version}}"
data-vf-js-banner-auto-accept="false">
  <div class="vf-banner__content | vf-grid" data-vf-js-banner-text>
    <p class="vf-banner__text vf-banner__text--lg">
      This website uses cookies, and the limiting processing of your personal data to function. By using the site you are agreeing to this as outlined in our <a class="vf-banner__link" href="{{banner__privacy_href}}">Privacy Notice</a> and <a class="vf-banner__link" href="{{banner__tou_href}}">Terms Of Use</a>.
    </p>
  </div>
</div>
