// vf-local-overrides

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"


@import 'vf-local-overrides.variables.scss';

.vf-local-overrides {
  /* your settings here */
}

.vf-card--brand {
  --vf-card-border-color: #007ac3;
  --vf-card--striped-bg-color: #862e86;
}

.vf-card--striped {
  .vf-card__heading {
    background-color: #007ac3;
  }
}

.vf-footer {
  border-top: 8px solid #862e86;
  &::after {
    background-color: #862e86;
  }
}

.vf-hero {
  background-position: center top -100px;
  background-repeat: no-repeat;
  background-color: #862e86;
}