---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
meta:
  description: "Page description"
  keywords: "Tags"
---

{% set context = {
    "vf_hero_kicker": "",
    "spacing": 1600,
    "vf_hero_heading": "Welcome to GeneticScores.org",
    "vf_hero_subheading": "GeneticScores.org provides tools and data to help AI developers and human health researchers make better polygenic scores",
    "vf_hero_image" : "url('https://raw.githubusercontent.com/ebi-gdp/intervene-website/refs/heads/main/src/site/images/hero.jpeg');",
    "vf_hero_link_text" : "Learn more",
    "vf_hero_link_href" : "https://docs.intervenegeneticscores.org"
    }
%}

{% include containers.hero %}

{% set context = {
  "modifier": "vf-u-background-color--grey--lightest vf-u-fullbleed",
  "cards_aspect_ratio": "16 / 9",
  "cards_per_row" : 4,
  "container_section__header": {
    "section_title": "",
    "vf_section__content": "",
    "hidden": true
  },
  "vf_cards": [
    {
      "id": "calculate",
      "variant": "bordered",
      "newTheme": "primary",
      "card_title": "Genetic scoring service",
      "card_href": "https://intervenegeneticscores.org/calculate",
      "card_image": "",
      "card_text": "Upload synthetic genetic data to calculate polygenic scores"
    },
    {
      "id": "pgsc_calc",
      "variant": "bordered",
      "newTheme": "primary",
      "card_title": "Calculate polygenic scores locally",
      "card_href": "https://docs.intervenegeneticscores.org/tools",
      "card_image": "",
      "card_text": "Applications and libraries for local polygenic score calculation"
    },
    {
      "id": "pgs",
      "variant": "bordered",
      "newTheme": "primary",
      "card_title": "Synthetic data",
      "card_href": "https://methodscomparison.intervenegeneticscores.org/tutorials/synthetic",
      "card_text": "Access synthetic genotypes and phenotypes for AI development"
    },
    {
      "id": "competition",
      "variant": "bordered",
      "newTheme": "primary",
      "card_title": "Methods comparison",
      "card_href": "https://methodscomparison.intervenegeneticscores.org/effect-sizes",
      "card_image": "",
      "card_text": "See how well polygenic score development methods perform across diverse cohorts"
    },
    {
      "id": "docs",
      "variant": "bordered",
      "newTheme": "primary",
      "card_title": "Documentation",
      "card_href": "https://docs.intervenegeneticscores.org",
      "card_image": "",
      "card_text": "Documentation for GeneticScores.org"
    },
    {
      "id": "help",
      "variant": "bordered",
      "newTheme": "primary",
      "card_title": "Help",
      "card_href": "https://docs.intervenegeneticscores.org/#how-do-i-get-help",
      "card_image": "",
      "card_text": "Contact our helpdesk if you're having trouble"
    },
    {
      "id": "what-are-pgs",
      "variant": "striped",
      "newTheme": "primary",
      "card_title": "What are polygenic scores?",
      "card_href": "https://www.genome.gov/Health/Genomics-and-Medicine/Polygenic-risk-scores",
      "card_text": "Background and explanation"
    },
    {
      "id": "intervene",
      "variant": "striped",
      "newTheme": "primary",
      "card_title": "INTERVENE",
      "card_href": "https://interveneproject.eu",
      "card_text": "Find out more about the INTERVENE project"
    }
  ]
}
%}

{% include containers.card_container %}

<hr class="vf-divider">

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Recent updates"
  } %}

    <div class="vf-content">
    {%- for post in collections.posts %}
        {% if (loop.index <= 1) %}
            <article class="vf-summary vf-summary--news">
                <span class="vf-summary__date">{{ post.date | dateDisplay }}</span>
                <img class="vf-summary__image" src="{{ post.data.meta.image | url }}" alt="">
                <h3 class="vf-summary__title">
                <a href="{{ post.url }}" class="vf-summary__link">{{ post.data.title }}</a>
                </h3>
                <p class="vf-summary__text">
                    {{ post.data.subtitle }}
                </p>
            </article>
        {% endif %}
    {%- endfor %}

    <p class="vf-text-body vf-text-body--2">Check out <a href="posts/">all updates here.</a></p>
    {% set context = {
    "component-type" : "element",
    "text" : "This is large body text",
    "type" : 1
     }
    %}
    {% include "../components/vf-core-components/vf-text/vf-text.njk" %}
    </div>
</section>


{% set context = {
    "component-type" : "container",
    "data-service-id" : "genetic-scores",
    "data-protection-version" : 0.1,
    "banner__text" : "I agree, dismiss this banner",
    "banner__privacy_href": "https://www.ebi.ac.uk/data-protection/privacy-notice/intervene-platform-public-website",
    "banner__tou_href": "https://www.ebi.ac.uk/about/terms-of-use",
    "alert_icon_text" : "dismiss"
     }
%}

{% include "../components/vf-banner/vf-banner--fixed.njk" %}
